:root {
  --gradient-primary: linear-gradient(to bottom, #e84e4e, #ff9e9e);
  --header-height:80px;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-content{
  flex-grow: 1;
}

.container{
  max-width: 1400px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.heading-subtitle{
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  @apply text-dark-700 dark:text-dark-20
}

.heading-title{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  @apply text-dark-700 dark:text-dark-10
}
.text-body{
  @apply text-dark-600 dark:text-dark-100
}
.section{
  @apply my-32
}

html{
  scroll-behavior: smooth;
}

.page-bg{
  background-image: var(--gradient-primary);
  min-height: 300px;
}

.card{
  background: rgba(255, 255, 255,1);
  @apply dark:bg-dark-600 dark:shadow-dark-sm2;
  border-radius: 10px;
  padding: 20px;
}
.card-title{
  @apply text-center text-2xl text-dark-700 dark:text-dark-20 font-semibold;
}

.card{
  h4 {
    @apply text-dark-700 dark:text-white
  }
}

li, ul{
  list-style: none;
}

.section{
  transition: transform 1s ease, opacity .8s ease;
}

.hide-viewport{
  //opacity: 0;
  //transform: translateY(100px);
}

.show-viewport{
  opacity: 1;
  transform: translateY(0);
}
.page-loader{
  @apply fixed card top-1/4 left-1/2 transform -translate-x-1/2
}