
.btn{
  padding: 10px 20px;
  border-radius: 6px;
  background: #ffffff;
  font-weight: 500;
  outline: none;
  border: none;
  //max-height: a?;
  color: white
}
.btn-list{
  @apply flex gap-x-1 items-center bg-dark-10/40 dark:bg-dark-600 hover:bg-primary-500/30 cursor-pointer transition transition-colors w-full list-none px-2 rounded-md;
  padding: 8px 20px;
}

.btn-primary{
  @apply bg-primary-400
}
.btn-secondary{
  @apply bg-secondary-400
}

.btn-disabled{
  pointer-events: none;
  opacity: .6;
}

.shadow-bg-md{
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: visible!important;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: scale(.80) translateY(5px) translateZ(0);
    filter: blur(8px);
  }
}
