
.sidebar2 {
  --sidebar-width: 260px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 700px;
  position: sticky;
  top: var(--header-height);
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  transition: left .3s ease;
  //background: white;
  @apply bg-white dark:bg-dark-700;
  left: -260px;
  z-index: 998;
  border-radius: 10px;
  &--open {
    //display: block;
  }
}
.sidebar2-backdrop{
  visibility: hidden!important;
  opacity: 0;
  z-index: 998 !important;
}

.content {
  flex: 1;
  margin-left: 15px;
}

@media screen and (max-width: 1023px) {
  .sidebar2{
    //display: none;
    position: fixed;
    left: -280px;
    //margin-left: -0px;
  }
  .content {
    margin-left: 0;
  }
  .sidebar2.expand{
    left: 10px;
    @apply shadow-sm2 dark:shadow-dark-sm2
  }

  .backdrop-show{
    visibility: visible!important;
    opacity: 1 !important;
  }

}