
.sidebar {
  width: 250px;
  position: sticky;
  //left: 0;
  top: 75px;
  background: white;
  z-index: 990;
  height: 110vh;
  //min-height: 100vh;
  overflow-y: auto;

  &--open {
    display: block;
  }
}



.content {
  flex: 1;
  margin-left: 15px;
}

@media screen and (max-width: 1000px) {
  .sidebar{
    display: none;
  }
  .content {
    margin-left: 0;
  }
}