.dropdown {
  @apply absolute opacity-0 z-50 invisible mt-3 p-4 bg-white rounded-md;
  transition: all .2s ease;
  transform: translateY(10px);

  &.dropdown-open{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  a {
    @apply text-dark-700;
  }

}

